@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

body {
  width: 100vw;
  height: 100vh;
  background: #f5f6fa;
  padding: 32px 16px;
  position: relative;
}

.interactive-comments-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.comment-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #ffffff;
  border-radius: 8px;
  padding: 16px;
}

.comment-box-desktop {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.reply-by-current-user {
  width: 100%;
  height: 50px;
  background: #ffffff;
  border-radius: 8px;
  display: none;
}

.user-date {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.comment-text,
.reply-text,
.date {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #67727e;
}

.user-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.user-image {
  width: 32px;
  height: 32px;
}

.user-name {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #334253;
}

.score-reply {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score-value {
  background: #f5f6fa;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #5357b6;
  /* margin-top: 16px; */
}

.reply-div {
  display: flex;
  gap: 8px;
}

.reply-div p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #5357b6;
}

.replies-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-left: 2px solid #e9ebf0;
  justify-content: center;
  align-items: flex-end;
}

.reply-box {
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #ffffff;
  border-radius: 8px;
  padding: 16px;
}

.delete-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.delete-div p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #5357b6;
}

.delete-div > .delete-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ed6368;
}

.current-user-comment-area {
  background: #ffffff;
  border-radius: 8px;
  width: 100%;
  padding: 16px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.add-comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

textarea {
  width: 100%;
  padding: 16px;
  background: #ffffff;
  border: 1px solid #e9ebf0;
  border-radius: 8px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #67727e;
  margin-bottom: 16px;
  resize: none;
  /* border: 1px solid #5357b6;
  border-radius: 8px; */
}

.update-div {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  display: none;
}

.send-comment,
.update-button {
  background: #5357b6;
  border-radius: 8px;
  padding: 12px 30px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  border: transparent;
  margin-left: 0;
  float: right;
}
.update-button {
  padding: 12px 18px;
}

.current-user-comment-area .current-user {
  height: 32px;
  width: 32px;
  position: absolute;
  margin-right: 270px;
  margin-top: 100px;
}

/* delete section */

.delete-section {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  mix-blend-mode: normal;
  padding-left: 16px;
  padding-right: 16px;
  display: none;
  z-index: 100;
}

.delete-box {
  width: 100%;
  height: auto;
  background: #ffffff;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 223px;
  padding: 24px 27px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.delete-box-heading {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #334253;
}
.warning-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #67727e;
}

.delete-box .button-section {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.cancel-button,
.delete-button {
  width: 50%;
  height: 48px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  padding: 12px 2px;
  border: transparent;
  border-radius: 8px;
  background: #67727e;
}

.delete-button {
  background: #ed6368;
}

/* Reply to comment section */

.reply-to-comment {
  background: #ffffff;
  border-radius: 8px;
  padding: 16px;
  display: none;
}

.i-am-replier {
  display: flex;
  gap: 16px;
  justify-content: flex-start;
  align-items: center;
}

.my-name {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #334253;
}

.reply-to-comment img {
  height: 32px;
  width: 32px;
  margin-bottom: 10px;
}

.my-submit {
  background: #5357b6;
  border-radius: 8px;
  padding: 12px 30px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  border: transparent;
  margin-left: auto;
  float: right;
}

.replies-section .reply-to-comment {
  width: 95%;
}

.my-text-area {
  resize: none;
}

.my-text-area-second {
  resize: none;
}

.editing {
  width: 100%;
  padding: 16px;
  background: #ffffff;
  border: 1px solid #e9ebf0;
  border-radius: 8px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #67727e;
  margin-bottom: 16px;
  resize: none;
}

.you {
  width: 36px;
  height: 19px;
  background: #5357b6;
  border-radius: 2px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  text-align: center;
}

.reply-to-whom {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #5357b6;
}

.reply-div-desktop,
.score-element-desktop,
.delete-div-desktop,
.new-reply-div-desktop,
.current-user-desktop {
  display: none;
}

@media screen and (min-width: 1440px) {
  body {
    padding: 64px 355px;
  }
  .replies-section {
    width: 95%;
    transform: translateX(5%);
  }
  .score-reply,
  .reply-div {
    display: none;
  }
  .reply-div-desktop {
    display: block;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    margin-left: auto;
  }
  .reply-comment-desktop {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #5357b6;
  }
  .score-element-desktop {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 100px;
    background: #f5f6fa;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #5357b6;
    /* margin-top: 16px; */
  }
  .comment-box {
    flex-direction: row;
  }
  .comment-box-desktop {
    width: 90%;
  }
  .date {
    /* display: flex; */
    gap: 300px;
  }
  .reply-box {
    flex-direction: row;
  }
  .reply-to-comment {
    gap: 16px;
  }
  .i-am-replier {
    align-items: flex-start;
  }

  .my-name {
    display: none;
  }
  .my-submit {
    height: 48px;
  }
  .delete-div-desktop {
    display: flex;
    width: 100px;
    height: 50px;
    cursor: pointer;
    transform: translateX(15%);
  }
  .icon-desktop {
    width: 11.67px;
    height: 14px;
  }
  .delete-text {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ed6368;
  }
  .edit-text {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #5357b6;
  }
  .delete-div-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }
  .delete-div-desktop:hover {
    opacity: 0.5;
  }

  .reply-div-desktop:hover,
  .new-reply-div-desktop:hover {
    opacity: 0.5;
  }

  .my-submit:hover,
  .update-button:hover,
  .send-comment:hover {
    background-color: #c5c6ef;
  }

  .new-reply-div-desktop {
    display: flex;
    gap: 8px;
    cursor: pointer;
    margin-left: auto;
  }
  .delete-div {
    display: none;
  }

  .delete-edit-desktop {
    display: flex;
    margin-left: auto;
  }

  .delete-box {
    width: 28%;
    margin-top: 386px;
  }

  .current-user-comment-area {
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
  }

  .current-user-comment-area .current-user {
    display: none;
  }
  .current-user-desktop {
    display: block;
    height: 40px;
    width: 40px;
  }
  .add-comment {
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
  }
}
